.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
	width: 100wh;
	height: 100vh;
	background: linear-gradient(0deg, #13547A, #80D0C7);
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: "Roboto";
}

.heroTitle{
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

.logoImage{
  max-width: 105px;
  margin: 35px auto 5px;

}
.heroImage{
  max-width: 250px;
  margin: 10px auto 20px;
}

.heroVouchButton{
  text-transform:uppercase;
}

.innerFlex{
  max-width:360px;
  margin: 0 auto;
}

.roundButton img{
  max-width: 96px;
  height: auto;
}
